* {
  margin: 0;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

#banner {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.principal {
  background-color: darkgrey;
  padding: 30px;
}

.titulo-principal {
  padding: 20px;
  text-align: center;
}

.titulo-centralizado {
  text-align: center;
  padding: 16px;
}

p {
  text-align: center;
  font-size: 18px;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.lista-principal {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 40%;
}

footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 40px 0;
}

.Copyright {
  color: white;
  font-size: 13px;
  margin-top: 20px;
}
