body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.banner {
  width: 100%;
}

.principal {
  margin: 0 0 1em;
  padding: 30px;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  padding: 16px;
  clear: left;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  margin: 0 3em 0 3em;
}

.mapa p {
  margin: 0 0 2em;
}

p {
  text-align: center;
  font-size: 18px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.lista-principal {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 60%;
}

footer {
  text-align: center;
  background: url(img/bg.jpg);
  padding: 40px 0;
}

.Copyright {
  color: white;
  font-size: 13px;
  margin-top: 20px;
}
