body {
  font-family: 'Roboto', sans-serif;
}

header {
  background: #bbbbbb;
  padding: 1em 2em 0 2em;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.banner {
  width: 100%;
}

.principal {
  width: 940px;
  margin: 0 auto;
  padding: 3em 0;
  background: #fefefe;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  padding: 16px;
  clear: left;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.imagem-beneficios {
  width: 50%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 15px black;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 2em auto;
}

p {
  text-align: center;
  font-size: 18px;
}

.itens {
  line-height: 1.5;
  font-style: italic;
  font-weight: lighter;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: '★';
}

footer {
  text-align: center;
  background: url(img/bg.jpg);
  padding: 40px 0;
}

.Copyright {
  color: white;
  font-size: 13px;
  margin-top: 20px 0 0;
}

@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
}
